<%= link_to 'Delete', user_path(@user),
                :method => :delete,
                data: { confirm: 'Are you sure?' },
                :class => 'u-pull-right button button-danger' %>
<h4>Edit <%= @user.name.capitalize %></h4>

<hr>

<%= render 'form' %>
