/**
 * Panel
 *
 * */

.panel-main {
  margin-top: -5rem;
  padding-bottom: 3rem;

  border: 1px solid $color-secondary;
  z-index: 1;
}

.info-panel {
  margin: 0 .2rem;

  width: 100%;
  vertical-align: baseline;

  h1, h2, h3, h4, h5, h6 {
    display: inline;
    margin-right: 1rem;
    vertical-align: bottom;
  }

  .info-panel-body {
    padding: 2rem;
  }

  .info-panel-actions {
    padding: 1rem;
    width: calc(100% - 2rem);

    text-align: right;
  }

  @mixin info-panel-color($bg-color, $fg-color) {
    background: $bg-color;
    color: $fg-color;

    .info-panel-actions { background: darken($bg-color, 5%); }
  }

  &.info-panel-color-1 { @include info-panel-color($color-accent-1, #FFF); }
  &.info-panel-color-2 { @include info-panel-color($color-accent-2, #FFF); }
  &.info-panel-color-3 { @include info-panel-color($color-accent-3, #FFF); }
}
