<!DOCTYPE html>
<html>
<head>
  <title>SftpAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li class="active">
      <div class="valign-middle">
        <i class="fa fa-dashboard"></i> Dashboard
      </div>
    </li>
    <li>
      <div class="valign-middle">
        <i class="fa fa-key"></i> Public keys
      </div>
    </li>
    <li>
      <div class="valign-middle">
        <i class="fa fa-users"></i> Users
      </div>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="panel panel-main">
    <%= yield %>
  </div>
</div>

</body>
</html>
